services:
  db:
    image: postgres:18-alpine
    environment:
      POSTGRES_DB: leonov
      POSTGRES_PASSWORD: password
      PGDATA: /var/lib/postgresql/data
    ports:
      - '5432:5432'
    volumes:
      - ./tmp/pgdata:/var/lib/postgresql/data
